body {
  margin: 0;
}
body,
html {
  font-family: "Avenir", "Helvetica Neue", Verdana, Arial, sans-serif;
}
p,
ul,
h1,
h2,
h3,
img,
li,
table {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
input {
  outline: none;
  background: none;
  border: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
header {
  width: 100%;
  height: 120px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  position: fixed;
  top: 0;
  left: 0;
}
header img {
  width: 250px;
  height: 45px;
  position: absolute;
  top: 42px;
  left: 28px;
}
header .buttons {
  width: 220px;
  height: 24px;
  position: absolute;
  right: 80px;
  top: 48px;
}
header .buttons .navBtn {
  float: left;
  width: 24px;
  height: 24px;
}
header .buttons .wishlist {
  margin-right: 40px;
  background: url(../img/icon_sc.png) no-repeat;
  background-size: 24px 24px;
}
header .buttons .wishlist:hover {
  background: url(../img/icon_sc_selected.png) no-repeat;
  background-size: 24px 24px;
}
header .buttons .login {
  margin-right: 40px;
  background: url(../img/icon_login.png) no-repeat;
  background-size: 24px 24px;
}
header .buttons .login:hover {
  background: url(../img/icon_login_selected.png) no-repeat;
  background-size: 24px 24px;
}
header .buttons .search {
  margin-right: 44px;
  background: url(../img/icon_search.png) no-repeat;
  background-size: 24px 24px;
}
header .buttons .search:hover {
  background: url(../img/icon_search_selected.png) no-repeat;
  background-size: 24px 24px;
}
header .buttons .more {
  background: url(../img/icon_nav.png) no-repeat;
  background-size: 24px 24px;
}
header .buttons .more:hover {
  background: url(../img/icon_nav_selected.png) no-repeat;
  background-size: 24px 24px;
}
header .nav {
  width: 440px;
  height: 14px;
  position: absolute;
  top: 52px;
  right: 360px;
}
header .nav li {
  float: left;
  margin-right: 15px;
}
header .nav li a {
  height: 14px;
  line-height: 14px;
  font-size: 14px;
  color: #333;
  font-weight: bold;
}
footer {
  width: 100%;
  height: 190px;
}
footer .top {
  width: 100%;
  height: 160px;
  background-color: #EAEBE9;
}
footer .top .leftSection {
  width: 440px;
  height: 100px;
  margin-left: 5%;
  margin-top: 30px;
  position: relative;
}
footer .top .leftSection .small {
  width: 140px;
  height: 12px;
  line-height: 12px;
  font-size: 12px;
  color: #000;
  text-align: right;
  position: absolute;
  top: 30px;
  left: 0;
}
footer .top .leftSection .big {
  width: 140px;
  height: 24px;
  line-height: 24px;
  font-size: 24px;
  color: #000;
  text-align: right;
  position: absolute;
  top: 50px;
  left: 0;
}
footer .top .leftSection .buttons {
  width: 280px;
  height: 35px;
  position: absolute;
  top: 40px;
  left: 160px;
}
footer .top .leftSection .buttons li {
  float: left;
  margin-right: 10px;
  width: 35px;
  height: 35px;
  background-size: 35px 35px;
}
footer .top .leftSection .buttons li a {
  display: block;
  width: 35px;
  height: 35px;
}
footer .top .leftSection .buttons li:nth-of-type(1) a {
  background: url(../img/f2.png) no-repeat;
}
footer .top .leftSection .buttons li:nth-of-type(2) a {
  background: url(../img/instagram.png) no-repeat;
}
footer .top .leftSection .buttons li:nth-of-type(3) a {
  background: url(../img/p2.png) no-repeat;
}
footer .top .leftSection .buttons li:nth-of-type(4) a {
  background: url(../img/t2.png) no-repeat;
}
footer .top .leftSection .buttons li:nth-of-type(5) a {
  background: url(../img/y2.png) no-repeat;
}
footer .top .leftSection .buttons li:nth-of-type(6) a {
  background: url(../img/wechat_icon.png) no-repeat;
}
footer .top .rightSection {
  width: 340px;
  height: 100px;
  margin-top: 30px;
  margin-right: 5%;
  position: relative;
}
footer .top .rightSection .small {
  width: 170px;
  height: 12px;
  line-height: 12px;
  font-size: 12px;
  color: #000;
  text-align: right;
  position: absolute;
  top: 30px;
  left: 0;
}
footer .top .rightSection .big {
  width: 170px;
  height: 24px;
  line-height: 24px;
  font-size: 24px;
  color: #000;
  text-align: right;
  position: absolute;
  top: 50px;
  left: 0;
}
footer .top .rightSection .buttons {
  width: 129px;
  height: 98px;
  position: absolute;
  top: 0;
  left: 190px;
  overflow: hidden;
}
footer .top .rightSection .buttons li {
  width: 129px;
  height: 44px;
  margin-bottom: 10px;
}
footer .top .rightSection .buttons li a {
  display: block;
  width: 129px;
  height: 44px;
}
footer .top .rightSection .buttons li:nth-of-type(1) a {
  background: url(../img/gp2x.png) no-repeat;
  background-size: 129px 44px;
}
footer .top .rightSection .buttons li:nth-of-type(1) a.active {
  background: url(../img/gp2_selected.png) no-repeat;
  background-size: 129px 44px;
}
footer .top .rightSection .buttons li:nth-of-type(2) a {
  background: url(../img/as2x.png) no-repeat;
  background-size: 129px 44px;
}
footer .top .rightSection .buttons li:nth-of-type(2) a.active {
  background: url(../img/as2_selected.png) no-repeat;
  background-size: 129px 44px;
}
footer .bottom {
  width: 100%;
  height: 30px;
  background-color: #fff;
}
footer .bottom .leftScript {
  width: 150px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  color: #000;
  padding-left: 2%;
}
footer .bottom .ul2 {
  width: 140px;
  height: 20px;
  margin-right: 2%;
  padding-top: 5px;
}
footer .bottom .ul2 li {
  float: right;
  margin-left: 5px;
}
footer .bottom .ul2 li a {
  font-size: 14px;
  color: #000;
}
footer .bottom .ul1 {
  width: 480px;
  height: 20px;
  margin-right: 20px;
  padding-top: 5px;
}
footer .bottom .ul1 li {
  float: right;
  margin-left: 5px;
}
footer .bottom .ul1 li a {
  color: #000;
  font-size: 14px;
}
#navDialog {
  display: none;
  width: 100%;
  height: 412px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  background-color: #fff;
  padding: 40px 30px;
}
#navDialog ul {
  width: 80%;
}
#navDialog ul li {
  height: 22px;
  line-height: 22px;
  margin-bottom: 10px;
}
#navDialog ul li:hover a {
  color: rgba(0, 0, 0, 0.6);
}
#navDialog ul li a {
  font-size: 16px;
  font-weight: 700;
  color: #000;
  transition: 1s;
}
#navDialog .close {
  width: 45px;
  height: 45px;
  background: url(../img/close.png) no-repeat;
  background-size: 45px 45px;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}
body {
  margin-top: 120px;
  background-color: #F1F2ED;
}
#nav {
  width: 100%;
  height: 60px;
  background-color: #F1F2ED;
  padding-top: 10px;
  padding-left: 50px;
}
#nav p {
  width: 500px;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  color: #000;
}
#nav p a {
  color: #000;
}
#content {
  width: 100%;
  min-height: 650px;
}
#content .wrap {
  max-width: 1400px;
  margin: 0 auto;
}
#content .wrap .leftSection {
  width: 45%;
  padding-left: 2%;
}
#content .wrap .leftSection h2 {
  font-weight: bold;
  margin-bottom: 20px;
  font-family: "Optima";
}
#content .wrap .leftSection .input {
  width: 100%;
}
#content .wrap .leftSection .input .title {
  width: 100%;
  height: 14px;
  line-height: 14px;
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 10px;
  color: #000;
}
#content .wrap .leftSection .input input {
  width: 100%;
  height: 40px;
  background-color: #E0E0E0;
  line-height: 40px;
  font-size: 14px;
  text-indent: 1em;
}
#content .wrap .leftSection .input .warning {
  width: calc(100 - 10px);
  height: 16px;
  padding: 5px;
  background-color: #d28c8c;
  text-indent: 1em;
  line-height: 16px;
  font-size: 12px;
}
#content .wrap .leftSection .input textarea {
  width: 100%;
  line-height: 1.2em;
  font-size: 12px;
  background-color: #E0E0E0;
  padding: 5px;
  box-sizing: border-box;
  outline: none;
  resize: none;
  margin-bottom: -3px;
}
#content .wrap .leftSection .check {
  width: 100%;
}
#content .wrap .leftSection .check .title {
  line-height: 20px;
  font-size: 14px;
  margin: 10px 0;
}
#content .wrap .leftSection .check .yes {
  width: 20px;
  height: 16px;
  line-height: 16px;
  padding-left: 25px;
  background: url(../img/dot.png) no-repeat;
  background-size: 16px 16px;
  margin-right: 20px;
  font-size: 16px;
}
#content .wrap .leftSection .check .no {
  width: 20px;
  height: 16px;
  line-height: 16px;
  padding-left: 25px;
  background: url(../img/dotChecked.png) no-repeat;
  background-size: 16px 16px;
  font-size: 16px;
}
#content .wrap .leftSection .selector {
  width: 100%;
  height: 40px;
  margin: 20px 0;
  background-color: #E0E0E0;
  outline: none;
}
#content .wrap .leftSection .accept {
  width: 100%;
}
#content .wrap .leftSection .accept .title {
  width: calc(100% - 230px);
  padding-left: 25px;
  line-height: 20px;
  font-size: 14px;
  box-sizing: border-box;
  background: url(../img/dot.png) no-repeat;
  background-size: 16px 16px;
  background-position: 0 2px;
}
#content .wrap .leftSection .accept .btn {
  width: 180px;
  height: 50px;
  background-color: #000;
  color: #fff;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
}
#content .wrap .leftSection .author {
  width: 100%;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  margin: 20px 0 50px;
}
#content .wrap .rightSection {
  width: 45%;
  padding-right: 2%;
  padding-top: 20px;
}
#content .wrap .rightSection h3 {
  width: 100%;
  margin: 50px 0 30px;
  height: 22px;
  line-height: 22px;
  font-size: 22px;
  font-weight: 600;
}
#content .wrap .rightSection .wrapRight {
  width: 100%;
  column-count: 2;
  column-gap: 40px;
}
#content .wrap .rightSection .wrapRight .item {
  padding-left: 30px;
  background: url(../img/icon__location1.png) no-repeat;
  background-size: 19px 24px;
  margin-bottom: 30px;
}
#content .wrap .rightSection .wrapRight .item p {
  line-height: 1.2em;
  font-size: 13px;
}
#content .wrap .rightSection .bot {
  width: 100%;
}
#content .wrap .rightSection .bot p {
  width: 80%;
  line-height: 1.2em;
  font-size: 13px;
}
#sure {
  width: 100%;
}
#sure .wrap {
  max-width: 1400px;
  margin: 0 auto;
}
