body {
  margin: 0;
}
body,
html {
  font-family: "Avenir", "Helvetica Neue", Verdana, Arial, sans-serif;
}
p,
ul,
h1,
h3,
img,
li {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
